body{
margin:0px;
padding:0px;
}
.header{
width:100%;
height:60vh;
overflow:hidden;
position:relative;
object-fit:cover;
}
.header-image{
position:absolute;
top:-10vh;

z-index:-1;
}
.nav{
display:flex;
justify-content:space-between;

font-size:1em;
font-family:
/* margin: 1vh 3vw; */
/* color:white; */
}
.nav-bar{
display:flex;
margin-right:3vw;
}
.nav-bar li{
font-size:1em;
color: white;
font-weight:lighter;
padding-left:30px;
list-style:none;
}
.app{
margin-left:3vw;
margin-top:2vh;
color: white;
}
.head{
display:flex;
flex-direction:column;
margin-top:7vh;
align-items:center;
justify-content:center;
}
.search{
display:flex;
width:55vw;
align-items:center;
background-color:white;
padding:1px;
border-radius:6px;

}
.search p{
margin-left:10px;
}
.search input{
outline:none;
border:none
width: 50%;
margin:10px;
font-size:1em;
}
.header-image img{
width:100vw;
height:60vh;
z-index:-1;
position:absolute;
}
.sec1{
position:relative;
top:70px;
display:flex;
justify-content:center;
margin-bottom:13vh;
}
.box{
position:relative;
height:200px;
width:265px;
margin:3px 5px;
overflow:hidden;
border-radius:15px;
background-color:white;
margin-bottom:5px;
}
.box img{
width:100%;
height:160px;
border-radius:14px;
z-index:1;
}
.child{
position:absolute;
bottom:3px;
align-items:center;
border-radius:0px 0px 15px 15px;
width:100%;
height:30px;
text-align:center;
line-height:30px;
}
.child span{
text-align:center;
color:black;
font-size:1em;
letter-spacing:0.7px;
}
/* Junaid Starting here*/

.sec2{
    margin-top: 30vh;
    margin-left: 5vw;

}
.specialization{
margin-top: 5vh;
display: flex;
flex-wrap: wrap;
}
.specialization-box{
    height:200px;
    margin: -10px;
    text-decoration: none;
}
.specialization-box img{
    width: 80%;
    height: 160px;
    border-radius: 15px;
}
/* Navin day 2 section for hospital lists*/

.middle{
    margin:60px 150px;
    }
    .sec-2 h2{
    font-size:1.5rem;
    font-width:lighter;
    margin:bottom:5px;
    }
    .sec-2 h6{
    margin:0px;
    
    font-weight:lighter;
    color:grey;
    }
    .box-1{
    width:300px;
    height:400px;
    overflow:hidden;
    position:relative;
    border-radius:8px;
    }
    .box-1 div{
    position:absolute;
    width:100%;
    height:25%;
    display:flex;
    
    }
    .box-1 img{
    width:250px;
    height:350px;
    margin:10px;
    border-radius:5px;
    }
    .sec-3{
    display:flex;
    margin-top:5px;	
    margin-bottom:10px;
    justify-content:space-between;
    }
    .Test{
        background-color: brown;
    }
    .junaid{
        background-color: brown;
    }